@using ZBC.ViewModels

@model TicketCreateViewModel

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="text-center">
                <h1 class="text-info">New Ticket</h1>
                <p>Her laver du en ny ticket for dit IT problem</p>
            </div>
            <form asp-controller="User" asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Titel">Titel</label>
                    <input asp-for="Titel" class="form-control" placeholder="Titel" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label asp-for="KategoriId">Kategori</label>
                    <select asp-for="KategoriId" class="form-control" asp-items="ViewBag.KategoriList">
                        <option value="">Vælg Kategori</option>
                        <option value="1">Software</option>
                        <option value="2">Hardware</option>
                        <option value="3">Service</option>
                        <option value="4">Support</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Beskrivelse">Beskrivelse</label>
                    <textarea asp-for="Beskrivelse" class="form-control" rows="5" placeholder="Beskrivelse" autocomplete="off"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="PrioritetId">Prioritet</label>
                    <select asp-for="PrioritetId" class="form-control" asp-items="ViewBag.PrioritetList">
                        <option value="">Vælg Prioritet</option>
                        <option value="1">Høj</option>
                        <option value="2">Middel</option>
                        <option value="3">Lav</option>
                    </select>
                </div>
                @* <div class="form-group">
                    <label asp-for="File">Vedhæft Fil</label>
                    <input asp-for="File" class="form-control-file mb-2">
                </div> *@
                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-lg mb-1 float-right" value="Registrér" />
                </div>
            </form>
        </div>
    </div>
</div>
