@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datapolitik</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
            line-height: 1.6;
            color: #333;
        }

        h2, h3 {

        }

        a {

            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <h2>Datapolitik</h2>
    <p>Tak fordi du besøger vores hjemmeside. Din privatliv er meget vigtig for os, og i denne datapolitik forklarer vi, hvordan vi indsamler, bruger og beskytter dine personoplysninger.</p>

    <h3>1. Hvem er vi</h3>
    <p>Vi er CJ, beliggende på [Adresse]. Du kan kontakte os via e-mail IT@CJ.dk for alle spørgsmål relateret til databeskyttelse.</p>

    <h3>2. Hvilke data indsamler vi?</h3>
    <p>Når du besøger vores hjemmeside, indsamler vi følgende data:</p>
    <ul>
        <li>Personlige identifikationsinformationer (Navn, e-mail adresse, telefonnummer)</li>
        <li>Besøgsstatistikker via cookies (se vores cookiepolitik)</li>
    </ul>

    <h3>3. Hvordan bruger vi dine data?</h3>
    <p>De data, vi indsamler fra dig, kan bruges til:</p>
    <ul>
        <li>At forbedre vores hjemmeside og ydelser</li>
        <li>At sende dig informations- og markedsføringsmaterialer, hvis du har accepteret dette</li>
        <li>At kontakte dig, enten via e-mail eller telefon, angående forespørgsler eller tickets du må have lavet</li>
    </ul>

    <h3>4. Dataopbevaring og sikkerhed</h3>
    <p>Vi opbevarer dine data så længe det er nødvendigt for de formål, som dataene blev indsamlet til. Vi anvender industri-standard sikkerhedsforanstaltninger for at sikre dine data mod uautoriseret adgang.</p>

    <h3>5. Dine rettigheder</h3>
    <p>Under databeskyttelsesloven har du ret til at anmode om adgang til, rettelse eller sletning af dine personoplysninger. Du har også ret til at begrænse eller gøre indsigelse mod visse behandlinger af dine data. Kontakt os på IT@CJ.dk, hvis du ønsker at gøre brug af disse rettigheder.</p>

    <h3>6. Tredjeparter</h3>
    <p>Vi deler ikke dine personlige data med tredjeparter uden dit udtrykkelige samtykke, medmindre loven kræver det.</p>

    <h3>7. Ændringer til denne datapolitik</h3>
    <p>Vi kan opdatere denne datapolitik fra tid til anden. Den senest opdaterede version vil altid være tilgængelig på vores hjemmeside. Vi opfordrer dig til regelmæssigt at gennemgå denne politik for at være informeret om, hvordan vi beskytter dine oplysninger.</p>

</body>
</html>
